/* General home page styles styles including grid */

.home-page-content img[src*='RIGHT'] {
  width: 190px;
  float: right;
  margin: 0;
  padding-left: 1rem;
}

@media (min-width: 768px) and (orientation: landscape) {
  .home-page-content img[src*='RIGHT'] {
    width: 210px;
    margin:0
    padding-left: 1rem;
  }
}
