/* General home page styles styles including grid */
:has(> .stuart-logo-light) {
}

.stuart-logo-light {
  width: 190px;
  height: auto;
  float: right;
  margin-left: 1rem;
  border-bottom: 2px solid var(--color-line);
  /*     border-bottom-right-radius: 6rem;
    border-bottom-left-radius: 6rem; */
}

@media (min-width: 768px) and (orientation: landscape) {
  .stuart-logo-light {
    width: 210px;
    height: auto;
    float: right;
    margin-left: 1rem;
    border-bottom: 2px solid var(--color-line);
    /*     border-bottom-right-radius: 6rem;
    border-bottom-left-radius: 6rem; */
  }
}
