/* Main navigation styles */
nav.main-nav {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: auto;
  grid-template-areas:
    'brand burger'
    'links links';
  padding: 0.5rem;
  min-height: 2rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  align-items: center;
}

nav.main-nav .brand a {
  color: var(--color-text);
  font-family: 'gochi hand', cursive;
  text-decoration: none;
}

nav.main-nav .brand {
  grid-area: brand;
}

nav.main-nav .brand h1 {
  margin-bottom: 0;
  margin-top: 0;
}

nav.main-nav .burger {
  grid-area: burger;
  text-align: right;
  cursor: pointer;
}

nav.main-nav .links-list {
  grid-area: links;
  background-color: var(--color-line);
  border: dashed 1px var(--color-text);
  border-radius: 8px;
  display: none;
  width: 100%;
}

nav.main-nav .links-list a {
  text-decoration: dashed underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: 7px;
}
nav.main-nav .links-list a .nav-icon {
  width: 1.6em;
  height: 1.6em;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}
nav.main-nav .links-list a:has(.nav-icon) {
  text-decoration: none;
}

.icon-link:hover .nav-icon,
.nav-icon:hover {
  filter: brightness(0) saturate(100%) invert(40%) sepia(100%) saturate(500%)
    hue-rotate(0deg);
  /* Adjust filter to best match your accent color if needed */
}

/*  is-active toggled by JS when button pressed to show the links hidden above */
.is-active {
  display: initial !important;
}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li a {
  color: var(--color-text);
  text-decoration: none;
}

nav ul li {
  margin-top: 0.5rem;
}

nav ul li:has(a > .nav-icon) {
  margin-right: 1rem;
}

.nav-lists-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* pushes columns to edges */
  align-items: stretch;
  width: 100%;
}
.nav-lists-row ul {
  display: flex;
  flex-direction: column; /* vertical list */
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-lists-row ul:first-child {
  align-items: flex-end;
  margin: 1rem;
  margin-right: 2rem;
  text-align: right;
  order: 2;
  gap: 0.5rem;
}
.nav-lists-row ul:last-child {
  align-items: flex-start;
  margin: 1rem;
  margin-left: 2rem;
  padding-right: 1rem;
  border-right: 1px dashed var(--color-text);
  order: 1;
  gap: 0.5rem;
}

/*  hamburger styles and css anim */
.burger-button {
  background-color: transparent;
  border: none;
}

.line {
  fill: none;
  stroke: var(--color-text);
  stroke-width: 5;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1,
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 5;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 5;
}

.opened .line1,
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

@media (min-width: 768px) and (orientation: landscape) {
  nav.main-nav {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-areas: 'brand links';
    background-color: transparent;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  nav.main-nav .links-list {
    grid-area: links;
    display: initial !important;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 0.5rem;
    background-color: var(--color-page);
    border: none;
  }

  nav.main-nav .burger {
    display: block;
    margin-left: auto;
  }

  nav.main-nav .brand {
    grid-area: brand;
  }

  nav.main-nav .burger {
    display: none;
  }

  .nav-lists-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* optional: space out the lists */
    width: 100%;
    align-items: flex-start;
    gap: 1rem; /* adjust as needed */
  }
  .nav-lists-row ul {
    display: flex;
    flex-direction: row; /* horizontal list */
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem; /* space between items */
  }
  .nav-lists-row ul li {
    display: inline;
    margin: 0;
  }
  .nav-lists-row ul:first-child {
    margin: 0;
    margin-right: 1rem;
    order: 1;
    gap: 2rem;
  }
  .nav-lists-row ul:last-child {
    margin: 0rem;
    border-right: none;
    order: 2;
    gap: 0.5rem;
  }
}
