/* Main navigation styles */
nav.main-nav {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: auto;
  grid-template-areas:
    'brand burger'
    'links links';
  padding: 0.5rem;
  min-height: 2rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  align-items: center;
}

nav.main-nav .brand a {
  color: var(--color-text);
  font-family: 'gochi hand', cursive;
  text-decoration: none;
}

nav.main-nav .brand {
  grid-area: brand;
}

nav.main-nav .brand h1 {
  margin-bottom: 0;
  margin-top: 0;
}

nav.main-nav .burger {
  grid-area: burger;
  text-align: right;
  cursor: pointer;
}

nav.main-nav .links-list {
  grid-area: links;
  background-color: var(--color-line);
  border: dashed 1px var(--color-text);
  border-radius: 8px;
  display: none;
}

nav.main-nav .links-list a {
  text-decoration: dashed underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: 7px;
}

/*  is-active toggled by JS when button pressed to show the links hidden above */
.is-active {
  display: initial !important;
}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li a {
  color: var(--color-text);
  text-decoration: none;
}

nav ul li {
  text-align: right;
  margin-right: 3rem;
  margin-top: 0.5rem;
}

/*  hamburger styles and css anim */
.burger-button {
  background-color: transparent;
  border: none;
}

.line {
  fill: none;
  stroke: var(--color-text);
  stroke-width: 5;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1,
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 5;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 5;
}

.opened .line1,
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

@media (min-width: 768px) and (orientation: landscape) {
  nav.main-nav {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-areas: 'brand links';
    background-color: transparent;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  nav.main-nav .links-list {
    grid-area: links;
    display: initial !important;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 0.5rem;
    background-color: var(--color-page);
    border: none;
  }

  nav.main-nav .burger {
    display: block;
    margin-left: auto;
  }

  nav.main-nav .brand {
    grid-area: brand;
  }

  nav.main-nav .burger {
    display: none;
  }

  nav ul {
    text-align: right;
  }

  nav ul li {
    display: inline;
    border: none;
    margin-right: 40px;
  }

  nav ul li:last-of-type {
    margin-right: 0;
  }
}
