.tag-page {
  margin: 0 auto;
}

.tag-title {
  color: var(--color-link);
  font-weight: 600;
}

.tagged-posts-list {
  column-gap: 2em;
  margin: 1.5em 0 0 0;
  padding: 0;
  list-style: none;
}

.tagged-posts-list li {
  margin-bottom: 1.1em;
}

.tagged-posts-list a {
  color: var(--color-text);
  text-decoration: underline;
  transition: color 0.2s;
}

.tagged-posts-list a:hover {
  color: var(--color-accent);
}

.tagged-posts-list span {
  color: var(--color-accent);
}
