---
import MarkdownPageLayout from '../../layouts/MarkdownPageLayout.astro';
import { getEntry, render } from 'astro:content';
import '../../styles/tags-list.css';
const all_tags = await getEntry('pages', 'tags');
const { Content } = all_tags ? await render(all_tags) : { Content: null };
const pageMeta = {
  title: all_tags?.data.title,
  description: all_tags?.data.description,
  imageUrl: '/default-social.png',
};
---

<MarkdownPageLayout frontmatter={all_tags?.data} pageMeta={pageMeta}>
  <div class="tags-page-content">
    {Content && <Content />}
  </div>
</MarkdownPageLayout>
