---
import MarkdownPageLayout from '../layouts/MarkdownPageLayout.astro';
import { getEntry, render } from 'astro:content';
const notFound = await getEntry('pages', 'notFound');
const { Content } = notFound ? await render(notFound) : { Content: null };
const pageMeta = {
  title: notFound?.data.title,
  description: notFound?.data.description,
  imageUrl: '/default-social.png',
};
---

<MarkdownPageLayout frontmatter={notFound?.data} pageMeta={pageMeta}>
  <div class="notFound-page-content">
    {Content && <Content />}
  </div>
</MarkdownPageLayout>
