---
import MarkdownPageLayout from '../layouts/MarkdownPageLayout.astro';
import '../styles/home.css';
import { getEntry, render } from 'astro:content';
const home = await getEntry('pages', 'index');
const { Content } = home ? await render(home) : { Content: null };
const pageMeta = {
  title: home?.data.title,
  description: home?.data.description,
};
---

<MarkdownPageLayout frontmatter={home?.data} pageMeta={pageMeta}>
  <div class="home-page-content">
    {Content && <Content />}
  </div>
</MarkdownPageLayout>
