---
import MarkdownPageLayout from '../layouts/MarkdownPageLayout.astro';
import { getEntry, render } from 'astro:content';
import '../styles/posts-lists.css';
const play = await getEntry('pages', 'play');
const { Content } = play ? await render(play) : { Content: null };
const pageMeta = {
  title: play?.data.title,
  description: play?.data.description,
};
---

<MarkdownPageLayout frontmatter={play?.data} pageMeta={pageMeta}>
  <div class="play-page-content">
    {Content && <Content />}
  </div>
</MarkdownPageLayout>
