---
import '../styles/footer.css';
import footerLinks from '../content/footer-nav.json';
---

<footer id="footer">
  <section class="footer content-padding">
    <ul>
      {
        Array.isArray(footerLinks.links) &&
          footerLinks.links.map(
            link =>
              !link.label?.startsWith('#') && (
                <li>
                  <a href={link.url}>{link.label}</a>
                </li>
              ),
          )
      }
    </ul>
    <p class="footer__copyright">
      All content shared under <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        >Creative Commons License CC-BY-CN-SA</a
      > by Stuart Mackenzie
    </p>
  </section>
</footer>
