---
import BaseLayout from './BaseLayout.astro';
import '../styles/md-page-layout.css';
const { frontmatter, pageMeta } = Astro.props;
---

<BaseLayout frontmatter={frontmatter} pageMeta={pageMeta}>
  <section class="page-layout content-padding">
    <slot />
  </section>
</BaseLayout>
