---
const { id = 'apexchart', chartAlign = '', chartConfig } = Astro.props;
---

<div class={chartAlign}>
  <div
    id={id}
    class="apexchart-container"
    data-config={JSON.stringify(chartConfig)}
  >
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/scripts/apexchart-loader.js" is:inline></script>
<style>
  :global(.apexchart-container) {
    width: 100%;
    min-height: 350px;
    margin-bottom: 1rem;
  }
</style>
